//add dependencies

//font face setup
@font-face {
    font-family: 'Alegreya Sans';
    src: url('./font/AlegreyaSans-Regular.woff2') format('woff2'),
        url('./font/AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('./font/AlegreyaSans-Bold.woff2') format('woff2'),
        url('./font/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('./font/AlegreyaSans-Thin.woff2') format('woff2'),
        url('./font/AlegreyaSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

//setup bootstrap colors
$primary: #CCAE00;
$secondary: #9C9E9F;
$cyan: #14C7CC;
$info: $cyan;
$dark: #4b4a4d;
$body-bg: #4b4a4d;
//font & typography
$font-family-base: 'Alegreya Sans';
//setup other styles
$card-border-radius: 0; //card border radius
$nav-tabs-link-active-border-color: $cyan;
$nav-tabs-link-active-bg: $cyan; //nav tab link active bg
$nav-tabs-link-active-color: #fff; //nav tab link active color
$nav-tabs-border-radius: 0; //nav tab border radius

//bootstrap scss ready for compilation
@import "./scss/bootstrap/bootstrap";

//css classes
#sw_main_content {
    min-height: 500px;
}
#sw_icd_icf_button svg, h2 .icon svg, .icon-btn svg {
    height: 26px;
}
.icon-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(177deg) brightness(105%) contrast(102%);
}
.icon-btn:hover, .icon-black {
    filter: invert(0%) sepia(94%) saturate(42%) hue-rotate(99deg) brightness(90%) contrast(100%);    
}
.icon-secondary {
    filter: invert(64%) sepia(4%) saturate(112%) hue-rotate(155deg) brightness(96%) contrast(96%)
}
h2 .icon:hover {
    cursor: pointer;
    opacity: 0.6;
}
.navbar-toggler-icon:hover, .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-color: var(--bs-primary);
    border-radius: .25rem;
    padding: .25rem;
}
.navbar-toggler-icon:hover {
    opacity: 0.75;
    background-color: transparent;
}
.nav-tabs .nav-link:not(.active) {
    color: var(--bs-gray) !important;
}
.nav-tabs .nav-link:not(.active):hover {
    color: var(--bs-info) !important;
}
.badge + .badge, .sw-code-button + .sw-code-button {
    margin-left: 0.5rem;
}
.rounded-start-0 {
    border-bottom-left-radius: $border-radius !important;
}
.rounded-end-0 {
    border-bottom-left-radius: $border-radius !important;
}
.sw-hanging-info {
    margin-top: -4px;
}
.sw-hanging-info .badge {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}
.dark-info {
    background-color: $cyan-600 !important;
}
.darker-info {
    background-color: $cyan-700 !important;
}
.sw-footer {
    min-height: 80px;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .rounded-end-0 { border-bottom-right-radius: 0px !important; }
    .rounded-start-0 { border-bottom-left-radius: 0px !important; }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
